.TodoList input[type="text"] {
    text-align: center;
    width: 1000px; height: 35PX;
    font-size: 20PX;
    outline: none; border: none;
    padding: 0 20PX; margin: 0.5px 0;
    color: rgb(56, 157, 170);
}

.TodoList input[type="submit"] {
    height: 35PX;
    font-size: 20PX;
    outline: none; border: none;
    padding: 0 20PX; margin-left: 5px;
}

.TodoList input[value="DONE"] {
    background-color: rgb(225, 228, 76);
}

.TodoList input[value="DEL"] {
    background-color: rgb(209, 72, 72);
}

.TodoList h2 {
    color: rgb(55, 115, 122);
}